@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; font-size:12px; font-family:"宋体";color:#000;}
p,ul,li,img,input{margin:0;padding:0;border:0;list-style:none;}
a:link,a:visited{color:#fff; text-decoration:none;}

.header{width:100%;height:246px; background:url(../images/bg_03.jpg) no-repeat center top;}
.nav{width:100%;height:43px;background:url(../images/nav_bg2.jpg) repeat-x;margin:0 auto;}
.navtxt{width:980px;height:43px;margin:0 auto;padding:0 10px;}
.navtxt li{height:43px; line-height:43px; float:left;padding:0 40px; background:url(../images/nav_line_2.jpg) no-repeat right center;}
.navtxt li a:link,.navtxt li a:visited{ font-size:18px; font-weight:bold;}
.current .left{width:3px;height:40px; background:url(../images/current_L2.jpg) no-repeat left bottom;float:left;padding-top:3px;}
.center{height:40px; text-align:center;float:left;padding-top:3px;}
.center a:link,.center a:visited{background:#fff; display:inline-block;color:#21580b;padding:0 8px;}
.current .right{width:3px;height:40px; float:left;background:url(../images/current_R2.jpg) no-repeat left bottom;padding-top:3px;}
li.Nobg{ background:none;}

.banner{width:1000px;height:278px;margin:7px auto;}

.content{width:1000px; overflow:hidden;margin:0 auto;}
.content .top{width:1000px;height:20px; background:url(../images/top.jpg) no-repeat;}
.cent{width:878px; background:url(../images/center_bg.jpg) repeat-x; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2;padding:0 60px;}
.test{width:876px; overflow:hidden;border:1px solid #d2d2d2;margin-bottom:10px; background:url(../images/cent_bg.jpg) repeat-x;}
.img{width:267px;padding:5px; float:left;}
.txt{width:540px;float:right;padding:5px 30px 0 0;}
.txt h2{height:25px; line-height:25px;font-size:18px; font-weight:bold;color:#1d6001; border-bottom:1px solid #d2d2d2;}
.txtbtm{line-height:20px; font-size:14px;}
.btn{width:97px;height:34px; line-height:34px; font-weight:bold; font-size:14px; float:right;background:url(../images/test.png) no-repeat;text-align:center;}
.testfiv{width:876px; overflow:hidden;border:1px solid #d2d2d2; background:url(../images/five_bg.jpg) repeat-x;margin-bottom:10px;}
.testLast{width:876px; overflow:hidden;border:1px solid #d2d2d2; background:url(../images/six_bg.jpg) repeat-x;}

.content .btm{width:1000px;height:20px; background:url(../images/btm.jpg) no-repeat;}

.footer{width:100p%;height:130px; border-top:1px solid #d2d2d2;margin-top:60px; text-align:center;padding-top:30px; line-height:20px;}